@import 'activeadmin_addons/all';
@import "active_admin/mixins";
@import "active_admin/base";
@import "direct_uploads.css";

li.has_many_container.colors {
  display: none;
}

li.has_many_container.components li {
  display: inline-block;
}

li.has_many_container.components li fieldset {
  display: inline-block;
}

li.has_many_container.components ol > li.select {
  width: 50%;
}
li.has_many_container.components ol > li.radio {
  width: 30%;
}
li.has_many_container.components ol > li label {
  display: inline-block;
}
li.has_many_container.components ol > li.boolean label {
  width: auto;
  padding-left: 0;
}

li.has_many_container.components ol > li.choice label {
  padding-right: 10px;
  padding-left: 10px;
}

li.has_many_container.components ol > li.choice label input {
  margin-right: 7px;
}