@import 'activeadmin_addons/all';
@import "active_admin/mixins";
@import "active_admin/base";
@import "direct_uploads.css";

$pending-color: #FF9900;
$rejected-color: #FF0000;
$approved-color: #08A510;

.status_tag {
  &.pending { background: $pending-color; }
  &.rejected { background: $rejected-color; }
  &.approved { background: $approved-color; }
}

#foto_sidebar_section tbody .row th {
  display: none;
}
#foto_sidebar_section tbody .row td img {
  width: 100%;
}